In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset_names = ['dim_campaigns', 'dim_delivery_locations', 'dim_places', 'dim_tables', 'dim_taxonomy_terms', 'dim_users', 'fct_bonus_codes', 'fct_campaigns', 'fct_order_items', 'fct_orders', 'most_ordered']
datasets = {}
for name in dataset_names:
    datasets[name] = pd.read_csv(name + '.csv', low_memory=False)

In [36]:
datasets['dim_places'].columns[datasets['dim_places'].isna().all()]

Index(['kitchen_staff_ids', 'nets_mid', 'realm', 'delivery_qr_code_link',
       'takeaway_qr_code_link', 'theme'],
      dtype='object')

In [3]:
# Overview of all datasets
print("=" * 60)
print("DATASET OVERVIEW FOR SHIFT SCHEDULER APPLICATION")
print("=" * 60)

for name, df in datasets.items():
    print(f"\n{'='*60}")
    print(f"ðŸ“Š {name.upper()}")
    print(f"{'='*60}")
    print(f"Shape: {df.shape[0]:,} rows Ã— {df.shape[1]} columns")
    print(f"\nColumns: {list(df.columns)}")
    print(f"\nData Types:\n{df.dtypes.value_counts()}")
    print(f"\nFirst 3 rows:")
    display(df.head(3))

============================================================
DATASET OVERVIEW FOR SHIFT SCHEDULER APPLICATION
============================================================

============================================================
ðŸ“Š DIM_CAMPAIGNS
============================================================
Shape: 641 rows Ã— 7 columns

Columns: ['id', 'user_id', 'created', 'updated', 'place_id', 'status', 'type']

Data Types:
int64    5
str      2
Name: count, dtype: int64

First 3 rows:

,id,user_id,created,updated,place_id,status,type
0,60594,423,1612819150,1659482246,59897,Inactive,Discount on specific menu items
1,60609,423,1612819657,1659482250,59897,Inactive,Discount on specific menu items
2,60610,423,1612820393,1659482250,59821,Inactive,2 for 1 on specific menu items

============================================================
ðŸ“Š DIM_DELIVERY_LOCATIONS
============================================================
Shape: 3,906 rows Ã— 12 columns

Columns: ['id', 'user_id', 'created', 'updated', 'address', 'area_id', 'country', 'latitude', 'longitude', 'status', 'tag', 'deleted']

Data Types:
int64      5
str        4
float64    3
Name: count, dtype: int64

First 3 rows:

,id,user_id,created,updated,address,area_id,country,latitude,longitude,status,tag,deleted
0,60210,476,1612377196,1612377196,"NÃ¦sborgvej 10, 1 TV",11450.0,NaN,NaN,NaN,NaN,Home,0
1,60250,476,1612379452,1612379452,Tuborgvej 24 1.4,11473.0,NaN,NaN,NaN,NaN,Other,0
2,60944,646,1613318361,1615125053,"A F Beyersvej 23, 2.th",11457.0,NaN,NaN,NaN,NaN,Home,0

============================================================
ðŸ“Š DIM_PLACES
============================================================
Shape: 1,824 rows Ã— 189 columns

Columns: ['id', 'user_id', 'created', 'updated', 'title', 'activated', 'active', 'bankrupt', 'binding_period', 'chain_id', 'contact_email', 'contact_mobile_phone', 'contract_start', 'country', 'currency', 'cvr_number', 'duplicate', 'ecommerce_fee', 'eu_commission', 'invoicing_start_date', 'isv_commission', 'isv_partner', 'non_eu_commission', 'onboarded_by', 'payment_terminal_provider', 'area_id', 'processing_fee', 'sales_outcome_id', 'sales_stage', 'service_charge', 'setup_type', 'termination_date', 'termination_value', 'transferred_contract', 'type_id', 'cashier_ids', 'manager_ids', 'driver_ids', 'payment_terminal_ids', 'kitchen_staff_ids', 'contact_name', 'description', 'cuisine_ids', 'trainee_mode', 'demo_mode', 'default_order_type_cashier', 'default_order_type_customer', 'show_bestsellers', 'use_quick_search', 'display_cashier_images', 'display_created_by', 'use_customer_facing_display', 'timezone', 'contact_language', 'business_name', 'area', 'street_address', 'suppress_receipt_prompt', 'print_on_acceptance', 'enable_receipt_download', 'enable_email_receipts', 'customer_receipt_cc', 'customer_receipt_msg', 'daily_sales_reports', 'monthly_sales_reports', 'sales_report_email', 'logo', 'image_1', 'image_2', 'image_3', 'image_4', 'image_5', 'phone', 'email', 'website', 'facebook', 'instagram', 'takeaway_link', 'delivery_link', 'table_booking_link', 'opening_hours', 'enable_cashback', 'enable_voucher_payment', 'inventory_management', 'seasonal', 'moved_to_competition', 'dormant', 'dormant_partner', 'dead_lead', 'closed', 'collect_customer_info_takeaway', 'collect_customer_info_eat_in', 'collect_customer_info_delivery', 'nets_mid', 'realm', 'auto_accept_delivery', 'auto_accept_eat_in', 'auto_accept_table_bookings', 'auto_accept_takeaway', 'auto_close_delivery', 'auto_close_eat_in', 'auto_close_takeaway', 'auto_hide_orders_eat_in', 'auto_sms_topup', 'average_driver_speed', 'call_specific_waiter', 'call_waiter', 'call_waiter_interval', 'cash_pay_delivery', 'cash_pay_eat_in', 'cash_pay_takeaway', 'cashier_homepage', 'accepting_orders', 'allow_future_pickup_time', 'allow_refunds', 'default_payment_method', 'delivery', 'delivery_qr_code_link', 'delivery_radius', 'demo_end', 'display_cashier_prices', 'display_in_app', 'display_item_ratings', 'display_order_status', 'dynamic_location', 'eat_in', 'ecom_provider', 'enable_barcode_scanning', 'enable_cash_in_out', 'enable_ecommerce_payments', 'enable_nfc_login', 'enable_ordered_printing', 'enable_other_payment', 'enable_qr_code_payment', 'enable_qr_code_receipt', 'enable_sms_on_ready', 'first_day_of_week', 'force_table_number', 'force_upfront_pay_delivery', 'force_upfront_pay_eat_in', 'force_upfront_pay_takeaway', 'immediate_payment_delivery', 'immediate_payment_eat_in', 'immediate_payment_takeaway', 'in_app_pay_delivery', 'in_app_pay_eat_in', 'in_app_pay_takeaway', 'isv_source_code', 'language', 'latitude', 'longitude', 'loyalty_program', 'min_guests', 'minimum_delivery_amount', 'not_accepting_orders_msg', 'payment_terminal_pay_delivery', 'payment_terminal_pay_eat_in', 'payment_terminal_pay_takeaway', 'print_on_payment', 'print_on_refund', 'print_sold_items', 'prompt_for_tip_delivery', 'prompt_for_tip_eat_in', 'prompt_for_tip_takeaway', 'protect_sensitive_sections', 'rating', 'receipt_printing_enabled', 'receive_phone_calls', 'skip_order_confirmation', 'slot_duration', 'sms_balance', 'sms_on_ready_text', 'suppress_print_receipt_prompt', 'table_bookings', 'takeaway', 'takeaway_qr_code_link', 'terminal_provider', 'theme', 'tiered_loyalty_program', 'vat', 'vip_threshold', 'visit_duration', 'votes', 'waiting_time', 'unspecified_section_id', 'unspecified_item_id', 'enable_sms_on_order', 'sms_on_order_text', 'exclude_from_ops_report']

Data Types:
int64      112
str         49
float64     28
Name: count, dtype: int64

First 3 rows:

,id,user_id,created,updated,title,activated,active,bankrupt,binding_period,chain_id,...,vat,vip_threshold,visit_duration,votes,waiting_time,unspecified_section_id,unspecified_item_id,enable_sms_on_order,sms_on_order_text,exclude_from_ops_report
0,59813,417,1610718144,1744221291,Green Love,0,0,0,36,NaN,...,25.0,20,90,22,25,5972947,306775,0,NaN,0
1,59817,417,1610718304,1744221291,GrÃ¸nnere,0,0,0,36,NaN,...,25.0,20,90,0,15,5972948,306777,0,NaN,0
2,59821,417,1610866418,1744221291,Eden Jaxx,0,0,0,36,NaN,...,25.0,20,90,8,25,5972949,306779,0,NaN,0

============================================================
ðŸ“Š DIM_TABLES
============================================================
Shape: 3,400 rows Ã— 18 columns

Columns: ['id', 'user_id', 'created', 'updated', 'title', 'bookable', 'capacity', 'category_id', 'external_id', 'link', 'place_id', 'status', 'table_stand', 'qr_code', 'deleted', 'floorplan', 'shape', 'table_section_id']

Data Types:
int64      8
str        8
float64    2
Name: count, dtype: int64

First 3 rows:

,id,user_id,created,updated,title,bookable,capacity,category_id,external_id,link,place_id,status,table_stand,qr_code,deleted,floorplan,shape,table_section_id
0,81734,417,1646230164,1731431107,1,1,4,12185.0,NaN,http://lovingloyalty.com/order/table-1/zula-ve...,64276,Active,public://tables/64276/81734_en.pdf,public://tables/64276/81734.png,0,"{""top"":720,""left"":100,""angle"":0}",rectangle,NaN
1,81735,417,1646230184,1731431107,2,1,4,12185.0,NaN,http://lovingloyalty.com/order/table-2/zula-ve...,64276,Active,public://tables/64276/81735_en.pdf,public://tables/64276/81735.png,0,"{""top"":160,""left"":180,""angle"":0}",rectangle,NaN
2,81736,417,1646230200,1731431108,3,1,4,12185.0,NaN,http://lovingloyalty.com/order/table-3/zula-ve...,64276,Active,public://tables/64276/81736_en.pdf,public://tables/64276/81736.png,0,"{""top"":440,""left"":180,""angle"":0}",rectangle,NaN

============================================================
ðŸ“Š DIM_TAXONOMY_TERMS
============================================================
Shape: 904 rows Ã— 6 columns

Columns: ['id', 'user_id', 'created', 'updated', 'vocabulary', 'name']

Data Types:
int64    4
str      2
Name: count, dtype: int64

First 3 rows:

     id  user_id     created     updated vocabulary    name
0     1     1351  1746612556  1746612556     gender    Male
1     2     1351  1746612556  1746612556     gender  Female
2  1332     1351  1746612556  1746612556       type     Bar

============================================================
ðŸ“Š DIM_USERS
============================================================
Shape: 22,955 rows Ã— 41 columns

Columns: ['id', 'user_id', 'created', 'updated', 'account_closure_requested', 'age_group_id', 'app_version', 'area_id', 'cltv', 'country', 'currency', 'date_of_birth', 'do_not_contact', 'first_name', 'gender_id', 'last_name', 'mobile_phone', 'picture', 'orders', 'redeemed_points', 'referring_user_id', 'referring_place_id', 'savings', 'source', 'type', 'api_key', 'roles', 'email', 'password', 'referral_id', 'otp', 'language', 'email_temp', 'mobile_phone_temp', 'mobile_phone_valid', 'email_valid', 'barcode_scanner_ids', 'receipt_printer_ids', 'payment_terminal_ids', 'notifications', 'favorite_place_ids']

Data Types:
str        18
float64    13
int64      10
Name: count, dtype: int64

First 3 rows:

,id,user_id,created,updated,account_closure_requested,age_group_id,app_version,area_id,cltv,country,...,language,email_temp,mobile_phone_temp,mobile_phone_valid,email_valid,barcode_scanner_ids,receipt_printer_ids,payment_terminal_ids,notifications,favorite_place_ids
0,0,0.0,1571676937,1605685627,0,NaN,NaN,NaN,0.0,DK,...,en,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
1,1,1.0,1571676937,1744002851,0,12033.0,NaN,11470.0,232.0,DK,...,en,NaN,NaN,0,0,NaN,NaN,NaN,push_orders|push_others|email_orders|email_others,NaN
2,417,417.0,1610542930,1752828166,0,NaN,NaN,NaN,993.0,DK,...,en,NaN,NaN,1,0,NaN,443164|6009243,6009244,push_reviews|push_deals|push_orders|push_other...,NaN

============================================================
ðŸ“Š FCT_BONUS_CODES
============================================================
Shape: 6 rows Ã— 9 columns

Columns: ['id', 'user_id', 'created', 'updated', 'end_date_time', 'start_date_time', 'place_id', 'points', 'redemptions']

Data Types:
int64      7
float64    2
Name: count, dtype: int64

First 3 rows:

,id,user_id,created,updated,end_date_time,start_date_time,place_id,points,redemptions
0,61628,423,1614960382,1615136541,1615248000,1614902400,NaN,150,NaN
1,61922,423,1615559087,1637324088,1640822400,1615420800,59897.0,200,NaN
2,61940,423,1615564762,1622661882,1640908800,1615420800,NaN,300,NaN

============================================================
ðŸ“Š FCT_CAMPAIGNS
============================================================
Shape: 641 rows Ã— 55 columns

Columns: ['id', 'user_id', 'created', 'updated', 'title', 'age_group_ids', 'auto_created', 'item_ids', 'code', 'account_ids', 'delivery', 'eat_in', 'takeaway', 'discount', 'discount_type', 'start_date_time', 'end_date_time', 'freebie_id', 'monday_from', 'monday_to', 'tuesday_from', 'tuesday_to', 'wednesday_from', 'wednesday_to', 'thursday_from', 'thursday_to', 'friday_from', 'friday_to', 'saturday_from', 'saturday_to', 'sunday_from', 'sunday_to', 'gender_ids', 'goodie_bag_id', 'maximum_cltv', 'maximum_orders', 'minimum_cltv', 'minimum_orders', 'minimum_spend', 'parent_id', 'area_ids', 'place_id', 'price', 'provider', 'redemptions', 'redemptions_per_customer', 'status', 'table_id', 'tier_category_ids', 'type', 'used_redemptions', 'validity_hours', 'value', 'variation', 'visibility']

Data Types:
float64    37
int64       9
str         9
Name: count, dtype: int64

First 3 rows:

,id,user_id,created,updated,title,age_group_ids,auto_created,item_ids,code,account_ids,...,redemptions_per_customer,status,table_id,tier_category_ids,type,used_redemptions,validity_hours,value,variation,visibility
0,60594,423,1612819150,1659482246,15% discount on Snickerskage,NaN,NaN,59932,NaN,NaN,...,NaN,Inactive,NaN,NaN,Discount on specific menu items,0,NaN,NaN,NaN,NaN
1,60609,423,1612819657,1659482250,10% discount on Burger,NaN,NaN,60454,NaN,NaN,...,NaN,Inactive,NaN,NaN,Discount on specific menu items,0,NaN,NaN,NaN,NaN
2,60610,423,1612820393,1659482250,2 for 1 on Organic Homemade Shakes,NaN,NaN,59830,NaN,NaN,...,NaN,Inactive,NaN,NaN,2 for 1 on specific menu items,0,NaN,NaN,NaN,NaN

============================================================
ðŸ“Š FCT_ORDER_ITEMS
============================================================
Shape: 1,999,341 rows Ã— 23 columns

Columns: ['id', 'user_id', 'created', 'updated', 'title', 'campaign_id', 'commission_amount', 'cost', 'discount_amount', 'external_id', 'group', 'instructions', 'item_id', 'order_id', 'points_earned', 'points_redeemed', 'price', 'quantity', 'redemptions', 'removed_ingredients', 'add_on_ids', 'status', 'vat_amount']

Data Types:
float64    10
int64       7
str         6
Name: count, dtype: int64

First 3 rows:

,id,user_id,created,updated,title,campaign_id,commission_amount,cost,discount_amount,external_id,...,order_id,points_earned,points_redeemed,price,quantity,redemptions,removed_ingredients,add_on_ids,status,vat_amount
0,60824,512,1613139429,1708921636,Latte,NaN,1.50,50.0,0.0,NaN,...,60825.0,NaN,NaN,25.0,2,0,NaN,NaN,Pending,NaN
1,60837,514,1613144783,1708921895,The Classic Meal,NaN,5.25,175.0,0.0,NaN,...,60841.0,NaN,NaN,175.0,1,0,NaN,59995,Pending,NaN
2,60838,514,1613144783,1708921895,The Classic Meal,NaN,4.80,160.0,0.0,NaN,...,60841.0,NaN,NaN,160.0,1,0,NaN,NaN,Pending,NaN

============================================================
ðŸ“Š FCT_ORDERS
============================================================
Shape: 399,810 rows Ã— 40 columns

Columns: ['id', 'user_id', 'created', 'updated', 'updated_by', 'account_id', 'cash_amount', 'cashier_notified', 'channel', 'customer_mobile_phone', 'customer_name', 'code', 'delivery_charge', 'delivery_location_id', 'demo_mode', 'discount_amount', 'driver_id', 'external_id', 'instructions', 'items_amount', 'payment_method', 'pickup_time', 'place_id', 'points_earned', 'points_redeemed', 'promise_time', 'rejection_reason', 'referring_user_id', 'service_charge', 'source', 'split_bill', 'split_bill_type', 'status', 'synchronized_to_accounting', 'table_id', 'tier_id', 'total_amount', 'trainee_mode', 'type', 'vat_amount']

Data Types:
float64    25
str        11
int64       4
Name: count, dtype: int64

First 3 rows:

,id,user_id,created,updated,updated_by,account_id,cash_amount,cashier_notified,channel,customer_mobile_phone,...,split_bill,split_bill_type,status,synchronized_to_accounting,table_id,tier_id,total_amount,trainee_mode,type,vat_amount
0,60825,512,1613139429,1687470923,NaN,NaN,50.0,NaN,App,NaN,...,NaN,NaN,Closed,NaN,NaN,59898.0,50.0,NaN,Takeaway,12.50
1,60841,514,1613144783,1687470923,NaN,NaN,655.0,NaN,App,NaN,...,NaN,NaN,Closed,NaN,NaN,59822.0,655.0,NaN,Takeaway,163.75
2,60852,489,1613149610,1687470923,NaN,NaN,430.0,NaN,App,NaN,...,NaN,NaN,Closed,NaN,NaN,59822.0,430.0,NaN,Takeaway,107.50

============================================================
ðŸ“Š MOST_ORDERED
============================================================
Shape: 95,435 rows Ã— 7 columns

Columns: ['place_id', 'store_address', 'device_serial', 'device_product', 'item_id', 'item_name', 'order_count']

Data Types:
int64      3
float64    2
str        2
Name: count, dtype: int64

First 3 rows:

,place_id,store_address,device_serial,device_product,item_id,item_name,order_count
0,59813,NaN,NaN,NaN,60067,KnÃ¦kbrÃ¸d,10
1,59813,NaN,NaN,NaN,67188,Salt mandler,7
2,59813,NaN,NaN,NaN,67190,Marinerede oliven,7

In [4]:
# Key columns analysis for Shift Scheduler Application
print("=" * 70)
print("ðŸ—“ï¸  KEY COLUMNS FOR SHIFT SCHEDULER APPLICATION")
print("=" * 70)

# Analyze fct_orders for time patterns
orders = datasets['fct_orders']
orders['created_dt'] = pd.to_datetime(orders['created'], unit='s')
orders['hour'] = orders['created_dt'].dt.hour
orders['day_of_week'] = orders['created_dt'].dt.day_name()

print("\nðŸ“Œ 1. FCT_ORDERS - CRITICAL FOR DEMAND FORECASTING")
print("-" * 50)
print(f"   Total orders: {len(orders):,}")
print(f"   Date range: {orders['created_dt'].min()} to {orders['created_dt'].max()}")
print(f"\n   ðŸ”‘ Key Columns:")
print("   â€¢ created       â†’ Order timestamp (demand patterns)")
print("   â€¢ place_id      â†’ Location identifier")
print("   â€¢ type          â†’ Order type (Eat-in/Takeaway/Delivery)")
print("   â€¢ status        â†’ Order status")
print("   â€¢ table_id      â†’ Table assignment")
print("   â€¢ total_amount  â†’ Revenue (for prioritizing busy periods)")

print(f"\n   Order Types Distribution:")
print(orders['type'].value_counts().to_string())

print(f"\n   Orders by Day of Week:")
print(orders['day_of_week'].value_counts().to_string())

print(f"\n   Peak Hours (orders count):")
print(orders['hour'].value_counts().sort_index().head(10).to_string())

# Analyze dim_places
places = datasets['dim_places']
print("\n\nðŸ“Œ 2. DIM_PLACES - LOCATION/VENUE INFO")
print("-" * 50)
print(f"   Total places: {len(places):,}")
print(f"\n   ðŸ”‘ Key Columns:")
print("   â€¢ id, title           â†’ Place identification")
print("   â€¢ type_id             â†’ Type of venue (Restaurant/Bar/CafÃ©)")
print("   â€¢ opening_hours_*     â†’ Operating hours (Mon-Sun)")
print("   â€¢ address, latitude, longitude â†’ Location")
print("   â€¢ status, active      â†’ Operational status")

# Check opening hours columns
opening_cols = [c for c in places.columns if 'opening' in c.lower() or 'hour' in c.lower()]
print(f"\n   Opening Hours Columns: {opening_cols[:10]}")

# Analyze dim_users for staff
users = datasets['dim_users']
print("\n\nðŸ“Œ 3. DIM_USERS - STAFF/EMPLOYEE DATA")
print("-" * 50)
print(f"   Total users: {len(users):,}")
print(f"\n   ðŸ”‘ Key Columns:")
print("   â€¢ id, first_name, last_name â†’ Employee identification")
print("   â€¢ roles                     â†’ Job roles (cashier, manager, etc.)")
print("   â€¢ mobile_phone, email       â†’ Contact info")
print("   â€¢ area_id                   â†’ Work area/location")

print(f"\n   Sample Roles (from 'roles' column):")
roles = users['roles'].dropna().str.split('|').explode().value_counts()
print(roles.head(10).to_string())

# Analyze dim_tables
tables = datasets['dim_tables']
print("\n\nðŸ“Œ 4. DIM_TABLES - TABLE/SEATING CAPACITY")
print("-" * 50)
print(f"   Total tables: {len(tables):,}")
print(f"\n   ðŸ”‘ Key Columns:")
print("   â€¢ id, title          â†’ Table identification")
print("   â€¢ capacity           â†’ Seating capacity")
print("   â€¢ place_id           â†’ Which venue")
print("   â€¢ status             â†’ Active/Inactive")
print("   â€¢ bookable           â†’ Can be reserved")

print(f"\n   Table Capacity Distribution:")
print(tables['capacity'].value_counts().sort_index().to_string())

# Analyze campaigns for special events
campaigns = datasets['fct_campaigns']
print("\n\nðŸ“Œ 5. FCT_CAMPAIGNS - PROMOTIONS & EVENTS")
print("-" * 50)
print(f"   Total campaigns: {len(campaigns):,}")
print(f"\n   ðŸ”‘ Key Columns:")
print("   â€¢ start_date_time, end_date_time â†’ Campaign period")
print("   â€¢ place_id                       â†’ Affected venue")
print("   â€¢ monday_from to sunday_to       â†’ Day-specific timing")
print("   â€¢ type                           â†’ Campaign type")
print("   (Campaigns may require extra staff)")

======================================================================
ðŸ—“ï¸  KEY COLUMNS FOR SHIFT SCHEDULER APPLICATION
======================================================================

ðŸ“Œ 1. FCT_ORDERS - CRITICAL FOR DEMAND FORECASTING
--------------------------------------------------
   Total orders: 399,810
   Date range: 2021-02-12 14:17:09 to 2024-02-16 19:14:57

   ðŸ”‘ Key Columns:
   â€¢ created       â†’ Order timestamp (demand patterns)
   â€¢ place_id      â†’ Location identifier
   â€¢ type          â†’ Order type (Eat-in/Takeaway/Delivery)
   â€¢ status        â†’ Order status
   â€¢ table_id      â†’ Table assignment
   â€¢ total_amount  â†’ Revenue (for prioritizing busy periods)

   Order Types Distribution:
type
Takeaway    347397
Eat In       51964
Delivery       428

   Orders by Day of Week:
day_of_week
Friday       79374
Saturday     65712
Thursday     60751
Wednesday    56781
Tuesday      50626
Monday       44571
Sunday       41995

   Peak Hours (orders count):
hour
0     3265
1     1998
2     1060
3      326
4       56
5      430
6     3048
7     7649
8    11712
9    16861


ðŸ“Œ 2. DIM_PLACES - LOCATION/VENUE INFO
--------------------------------------------------
   Total places: 1,824

   ðŸ”‘ Key Columns:
   â€¢ id, title           â†’ Place identification
   â€¢ type_id             â†’ Type of venue (Restaurant/Bar/CafÃ©)
   â€¢ opening_hours_*     â†’ Operating hours (Mon-Sun)
   â€¢ address, latitude, longitude â†’ Location
   â€¢ status, active      â†’ Operational status

   Opening Hours Columns: ['opening_hours']


ðŸ“Œ 3. DIM_USERS - STAFF/EMPLOYEE DATA
--------------------------------------------------
   Total users: 22,955

   ðŸ”‘ Key Columns:
   â€¢ id, first_name, last_name â†’ Employee identification
   â€¢ roles                     â†’ Job roles (cashier, manager, etc.)
   â€¢ mobile_phone, email       â†’ Contact info
   â€¢ area_id                   â†’ Work area/location

   Sample Roles (from 'roles' column):
roles
authenticated            22952
customer                 22479
cashier                   1771
pos_device                 437
nets_onboarding             65
manager                     63
editor                      22
vivawallet_onboarding       15
driver                      13
agent                       10


ðŸ“Œ 4. DIM_TABLES - TABLE/SEATING CAPACITY
--------------------------------------------------
   Total tables: 3,400

   ðŸ”‘ Key Columns:
   â€¢ id, title          â†’ Table identification
   â€¢ capacity           â†’ Seating capacity
   â€¢ place_id           â†’ Which venue
   â€¢ status             â†’ Active/Inactive
   â€¢ bookable           â†’ Can be reserved

   Table Capacity Distribution:
capacity
1      279
2     1100
3       74
4     1461
5       38
6      261
7        5
8       92
9        5
10      22
11       1
12      28
13       1
15       1
18       1
20      31


ðŸ“Œ 5. FCT_CAMPAIGNS - PROMOTIONS & EVENTS
--------------------------------------------------
   Total campaigns: 641

   ðŸ”‘ Key Columns:
   â€¢ start_date_time, end_date_time â†’ Campaign period
   â€¢ place_id                       â†’ Affected venue
   â€¢ monday_from to sunday_to       â†’ Day-specific timing
   â€¢ type                           â†’ Campaign type
   (Campaigns may require extra staff)

In [5]:
# Summary: Most Important Columns for Shift Scheduler
print("=" * 70)
print("ðŸ“‹ SUMMARY: PRIORITY COLUMNS FOR SHIFT SCHEDULING")
print("=" * 70)

summary_data = {
    'Dataset': ['fct_orders', 'fct_orders', 'fct_orders', 'fct_orders', 
                'dim_places', 'dim_places', 'dim_places',
                'dim_users', 'dim_users', 'dim_users',
                'dim_tables', 'dim_tables',
                'fct_campaigns', 'fct_campaigns'],
    'Column': ['created', 'place_id', 'type', 'total_amount',
               'id/title', 'opening_hours_*', 'type_id',
               'id/first_name/last_name', 'roles', 'area_id',
               'capacity', 'place_id',
               'start/end_date_time', 'day_from/day_to'],
    'Purpose': ['Demand forecasting by hour/day', 'Link orders to locations', 
                'Dine-in vs delivery staffing', 'Revenue-based priority',
                'Identify venues', 'Operating hours for shifts', 'Venue type affects staffing',
                'Employee info', 'Assign roles (cashier/manager)', 'Employee work location',
                'Calculate covers/capacity', 'Link tables to venue',
                'Plan for promotions', 'Day-specific campaign hours']
}

summary_df = pd.DataFrame(summary_data)
print("\n")
display(summary_df)

# Key metrics for shift scheduling
print("\n" + "=" * 70)
print("ðŸ“Š KEY METRICS FOR SHIFT SCHEDULING")
print("=" * 70)

print(f"\nðŸ“ Venues (dim_places): {len(datasets['dim_places']):,}")
print(f"ðŸ‘¥ Users (dim_users): {len(datasets['dim_users']):,}")
print(f"ðŸª‘ Tables (dim_tables): {len(datasets['dim_tables']):,}")
print(f"ðŸ“ Orders (fct_orders): {len(datasets['fct_orders']):,}")
print(f"ðŸŽ¯ Campaigns (fct_campaigns): {len(datasets['fct_campaigns']):,}")

# Staff with operational roles
staff_roles = ['cashier', 'manager', 'pos_device', 'agent']
operational_staff = datasets['dim_users'][
    datasets['dim_users']['roles'].fillna('').str.contains('|'.join(staff_roles), case=False)
]
print(f"\nðŸ‘· Operational Staff (cashier/manager/pos): {len(operational_staff):,}")

======================================================================
ðŸ“‹ SUMMARY: PRIORITY COLUMNS FOR SHIFT SCHEDULING
======================================================================

          Dataset                   Column                         Purpose
0      fct_orders                  created  Demand forecasting by hour/day
1      fct_orders                 place_id        Link orders to locations
2      fct_orders                     type    Dine-in vs delivery staffing
3      fct_orders             total_amount          Revenue-based priority
4      dim_places                 id/title                 Identify venues
5      dim_places          opening_hours_*      Operating hours for shifts
6      dim_places                  type_id     Venue type affects staffing
7       dim_users  id/first_name/last_name                   Employee info
8       dim_users                    roles  Assign roles (cashier/manager)
9       dim_users                  area_id          Employee work location
10     dim_tables                 capacity       Calculate covers/capacity
11     dim_tables                 place_id            Link tables to venue
12  fct_campaigns      start/end_date_time             Plan for promotions
13  fct_campaigns          day_from/day_to     Day-specific campaign hours

======================================================================
ðŸ“Š KEY METRICS FOR SHIFT SCHEDULING
======================================================================

ðŸ“ Venues (dim_places): 1,824
ðŸ‘¥ Users (dim_users): 22,955
ðŸª‘ Tables (dim_tables): 3,400
ðŸ“ Orders (fct_orders): 399,810
ðŸŽ¯ Campaigns (fct_campaigns): 641

ðŸ‘· Operational Staff (cashier/manager/pos): 1,894

In [6]:
# Business Nature Analysis
print("=" * 70)
print("ðŸ¢ BUSINESS NATURE ANALYSIS")
print("=" * 70)

# 1. Venue Types
places = datasets['dim_places']
taxonomy = datasets['dim_taxonomy_terms']

# Get venue types from taxonomy
venue_types = taxonomy[taxonomy['vocabulary'] == 'type'][['id', 'name']]
print("\nðŸ“ VENUE TYPES IN THE PLATFORM:")
print("-" * 50)
print(venue_types['name'].values)

# 2. Cuisines offered
cuisines = taxonomy[taxonomy['vocabulary'] == 'cuisine']['name'].values
print(f"\nðŸ½ï¸ CUISINES OFFERED: {len(cuisines)} types")
print("-" * 50)
print(f"Sample: {list(cuisines[:15])}...")

# 3. Order channels and types
orders = datasets['fct_orders']
print("\nðŸ“± ORDER CHANNELS:")
print("-" * 50)
print(orders['channel'].value_counts().to_string())

print("\nðŸ›ï¸ ORDER TYPES:")
print("-" * 50)
print(orders['type'].value_counts().to_string())

# 4. Geographic scope
print("\nðŸŒ GEOGRAPHIC SCOPE:")
print("-" * 50)
areas = taxonomy[taxonomy['vocabulary'] == 'area']['name'].values
print(f"Areas served: {len(areas)}")
print(f"Sample areas: {list(areas[:10])}")

# Check country from delivery locations
delivery = datasets['dim_delivery_locations']
print(f"\nCountries: {delivery['country'].dropna().unique()}")

# 5. Campaign/Promotion Types
print("\nðŸŽ¯ PROMOTION TYPES:")
print("-" * 50)
print(datasets['fct_campaigns']['type'].value_counts().to_string())

# 6. Customer Tiers (Loyalty Program)
tiers = taxonomy[taxonomy['vocabulary'] == 'tier_category']['name'].values
print(f"\nâ­ LOYALTY TIERS: {list(tiers)}")

# 7. Business Model Indicators
print("\nðŸ’¼ BUSINESS MODEL INDICATORS:")
print("-" * 50)
print(f"â€¢ Places with tables: {places['id'].nunique():,} venues")
print(f"â€¢ Total table capacity: {datasets['dim_tables']['capacity'].sum():,} seats")
print(f"â€¢ Users with loyalty points: {(datasets['dim_users']['redeemed_points'] > 0).sum():,}")
print(f"â€¢ Campaigns/Promotions run: {len(datasets['fct_campaigns']):,}")
print(f"â€¢ Bonus codes issued: {len(datasets['fct_bonus_codes']):,}")

# Revenue analysis
print(f"\nðŸ’° REVENUE INDICATORS:")
print(f"â€¢ Total orders: {len(orders):,}")
print(f"â€¢ Average order value: {orders['total_amount'].mean():.2f} DKK")
print(f"â€¢ Total revenue: {orders['total_amount'].sum():,.0f} DKK")

# 8. Staff roles
print("\nðŸ‘¥ STAFF ROLES IN SYSTEM:")
print("-" * 50)
all_roles = datasets['dim_users']['roles'].dropna().str.split('|').explode().value_counts()
print(all_roles.to_string())

======================================================================
ðŸ¢ BUSINESS NATURE ANALYSIS
======================================================================

ðŸ“ VENUE TYPES IN THE PLATFORM:
--------------------------------------------------
<StringArray>
['Bar', 'CafÃ©', 'Lounge', 'Restaurant', 'Pub', 'Unknown']
Length: 6, dtype: str

ðŸ½ï¸ CUISINES OFFERED: 148 types
--------------------------------------------------
Sample: ['Albanian', 'Andhra', 'Anglo-Indian', 'Middle Eastern', 'Argentine', 'Armenian', 'Assyrian', 'Awadhi', 'Azerbaijani', 'Balochi', 'Bangladeshi', 'Belarusian', 'Bengali', 'Berber', 'Brazilian']...

ðŸ“± ORDER CHANNELS:
--------------------------------------------------
channel
App    358321
Web     41489

ðŸ›ï¸ ORDER TYPES:
--------------------------------------------------
type
Takeaway    347397
Eat In       51964
Delivery       428

ðŸŒ GEOGRAPHIC SCOPE:
--------------------------------------------------
Areas served: 706
Sample areas: ['1264 KÃ¸benhavn K', '1620 KÃ¸benhavn V', '1635 KÃ¸benhavn V', '2000 Frederiksberg', '2100 KÃ¸benhavn Ã˜', '2200 KÃ¸benhavn N', '2300 KÃ¸benhavn S', '2500 Valby', '2720 VanlÃ¸se', 'Al Shahama']

Countries: <StringArray>
['DK', 'AE', 'NL', 'Danmark', 'Denmark', 'Ð”Ð°Ð½Ð¸Ñ', 'Ø§Ù„Ø¯Ù†Ù…Ø§Ø±Ùƒ', 'Denemarken']
Length: 8, dtype: str

ðŸŽ¯ PROMOTION TYPES:
--------------------------------------------------
type
2 for 1 on specific menu items     339
All you can eat                    189
Discount on total bill              86
Discount on specific menu items     18
Freebie                              7
Goodie bag                           2

â­ LOYALTY TIERS: ['Gold', 'Silver', 'Bronze']

ðŸ’¼ BUSINESS MODEL INDICATORS:
--------------------------------------------------
â€¢ Places with tables: 1,824 venues
â€¢ Total table capacity: 12,350 seats
â€¢ Users with loyalty points: 0
â€¢ Campaigns/Promotions run: 641
â€¢ Bonus codes issued: 6

ðŸ’° REVENUE INDICATORS:
â€¢ Total orders: 399,810
â€¢ Average order value: 445.44 DKK
â€¢ Total revenue: 178,090,177 DKK

ðŸ‘¥ STAFF ROLES IN SYSTEM:
--------------------------------------------------
roles
authenticated               22952
customer                    22479
cashier                      1771
pos_device                    437
nets_onboarding                65
manager                        63
editor                         22
vivawallet_onboarding          15
driver                         13
agent                          10
accountant                      6
swedbank_onboarding             4
data_entry                      2
lovingloyalty_onboarding        2
anonymous                       1
administrator                   1
tester                          1
md_booking_onboarding           1

## ðŸ¢ Business Summary

### What is this business?
This is a **Restaurant/Hospitality Technology Platform** operating in **Denmark (Copenhagen area)** that provides:

1. **Multi-venue Management** - Supports 1,800+ venues including:
   - Restaurants, Bars, CafÃ©s, Lounges, Pubs

2. **Order Management System** - Handles:
   - Dine-in (Eat-in) orders with table management
   - Takeaway orders
   - Delivery orders with location tracking

3. **Customer Loyalty Program** - Features:
   - Points-based rewards system
   - Tiered membership (Gold, Silver, Bronze)
   - Bonus codes and promotional campaigns

4. **POS & Staff Management** - Includes:
   - Cashier, Manager, and POS device roles
   - Table assignments and capacity tracking

### Key Business Characteristics
| Aspect | Details |
|--------|---------|
| **Industry** | Food & Beverage / Hospitality Tech |
| **Geography** | Denmark (Copenhagen metro area) |
| **Currency** | DKK (Danish Krone) |
| **Business Model** | B2B2C Platform (connects venues with customers) |
| **Channels** | Mobile App, POS, Web |
| **Cuisines** | 100+ types (Danish, Italian, Asian, etc.) |

### Platform Name
Based on URLs in the data: **"Loving Loyalty"** (lovingloyalty.com) - A loyalty and ordering platform for restaurants.

# ðŸ§™ Shift Wizard Solution Design
## QuickServe Kitchens: Intelligent Shift Planning

Based on the available data, here's how a solution should address the core challenges.

In [7]:
# =============================================================================
# SHIFT WIZARD SOLUTION DESIGN - Data Mapping Analysis
# =============================================================================

import matplotlib.pyplot as plt
from datetime import datetime

print("=" * 80)
print("ðŸ§™ SHIFT WIZARD: DATA-TO-SOLUTION MAPPING")
print("=" * 80)

# =============================================================================
# 1. DEMAND PREDICTION ENGINE - What data supports this?
# =============================================================================
print("\n" + "=" * 80)
print("ðŸ“Š 1. DEMAND PREDICTION ENGINE")
print("=" * 80)

orders = datasets['fct_orders'].copy()
orders['created_dt'] = pd.to_datetime(orders['created'], unit='s')
orders['date'] = orders['created_dt'].dt.date
orders['hour'] = orders['created_dt'].dt.hour
orders['day_of_week'] = orders['created_dt'].dt.dayofweek
orders['day_name'] = orders['created_dt'].dt.day_name()
orders['month'] = orders['created_dt'].dt.month
orders['week'] = orders['created_dt'].dt.isocalendar().week

print("\nâœ… AVAILABLE DATA FOR DEMAND FORECASTING:")
print("-" * 50)
print(f"   â€¢ Historical orders: {len(orders):,} records")
print(f"   â€¢ Date range: {orders['created_dt'].min().date()} to {orders['created_dt'].max().date()}")
print(f"   â€¢ Unique venues: {orders['place_id'].nunique():,}")

# Hourly demand pattern
hourly_demand = orders.groupby('hour').size()
print(f"\n   ðŸ“ˆ Peak hours identified: {hourly_demand.idxmax()}:00 ({hourly_demand.max():,} orders)")
print(f"   ðŸ“‰ Slowest hour: {hourly_demand.idxmin()}:00 ({hourly_demand.min():,} orders)")

# Day of week pattern
daily_demand = orders.groupby('day_name').size().reindex(
    ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
)
print(f"\n   ðŸ“… Busiest day: {daily_demand.idxmax()} ({daily_demand.max():,} orders)")
print(f"   ðŸ“… Slowest day: {daily_demand.idxmin()} ({daily_demand.min():,} orders)")

# Order type breakdown (affects staffing mix)
print(f"\n   ðŸ½ï¸ Order Type Mix (staffing implications):")
order_type_pct = (orders['type'].value_counts(normalize=True) * 100).round(1)
for otype, pct in order_type_pct.items():
    print(f"      â€¢ {otype}: {pct}%")

print("\nâš ï¸ DATA GAPS FOR DEMAND PREDICTION:")
print("-" * 50)
print("   â€¢ No social media/viral event tracking")
print("   â€¢ No weather data correlation")
print("   â€¢ No local event calendar integration")
print("   â€¢ No foot traffic sensors")

================================================================================
ðŸ§™ SHIFT WIZARD: DATA-TO-SOLUTION MAPPING
================================================================================

================================================================================
ðŸ“Š 1. DEMAND PREDICTION ENGINE
================================================================================

âœ… AVAILABLE DATA FOR DEMAND FORECASTING:
--------------------------------------------------
   â€¢ Historical orders: 399,810 records
   â€¢ Date range: 2021-02-12 to 2024-02-16
   â€¢ Unique venues: 359

   ðŸ“ˆ Peak hours identified: 16:00 (45,452 orders)
   ðŸ“‰ Slowest hour: 4:00 (56 orders)

   ðŸ“… Busiest day: Friday (79,374 orders)
   ðŸ“… Slowest day: Sunday (41,995 orders)

   ðŸ½ï¸ Order Type Mix (staffing implications):
      â€¢ Takeaway: 86.9%
      â€¢ Eat In: 13.0%
      â€¢ Delivery: 0.1%

âš ï¸ DATA GAPS FOR DEMAND PREDICTION:
--------------------------------------------------
   â€¢ No social media/viral event tracking
   â€¢ No weather data correlation
   â€¢ No local event calendar integration
   â€¢ No foot traffic sensors

In [8]:
# =============================================================================
# 2. OPTIMAL STAFFING CALCULATOR - What data supports this?
# =============================================================================
print("\n" + "=" * 80)
print("ðŸ‘¥ 2. OPTIMAL STAFFING CALCULATOR")
print("=" * 80)

users = datasets['dim_users']
tables = datasets['dim_tables']

# Staff analysis
print("\nâœ… AVAILABLE STAFF DATA:")
print("-" * 50)

# Extract staff by role
staff_with_roles = users[users['roles'].notna()].copy()
all_roles_list = staff_with_roles['roles'].str.split('|').explode()
role_counts = all_roles_list.value_counts()

print(f"   Total users in system: {len(users):,}")
print(f"\n   Staff by Role:")
for role, count in role_counts.items():
    if role in ['cashier', 'manager', 'pos_device', 'agent', 'editor']:
        print(f"      â€¢ {role}: {count:,}")

# Operational staff (relevant for scheduling)
operational_roles = ['cashier', 'manager', 'pos_device']
operational_mask = users['roles'].fillna('').str.contains('|'.join(operational_roles), case=False)
operational_staff = users[operational_mask]
print(f"\n   ðŸŽ¯ Schedulable Staff (cashier/manager/pos): {len(operational_staff):,}")

# Capacity analysis
print(f"\nâœ… VENUE CAPACITY DATA:")
print("-" * 50)
print(f"   Total tables: {len(tables):,}")
print(f"   Total seating capacity: {tables['capacity'].sum():,} seats")
print(f"   Avg capacity per table: {tables['capacity'].mean():.1f} seats")
print(f"   Unique venues with tables: {tables['place_id'].nunique():,}")

# Calculate staffing ratios from historical data
print(f"\nðŸ“ DERIVED STAFFING METRICS:")
print("-" * 50)
# Orders per staff member (rough indicator)
avg_daily_orders = len(orders) / orders['date'].nunique()
print(f"   Avg daily orders (all venues): {avg_daily_orders:,.0f}")
print(f"   Avg orders per venue per day: {avg_daily_orders / orders['place_id'].nunique():.1f}")

# Peak hour analysis for staffing
peak_orders_per_venue = orders[orders['hour'] == 16].groupby('place_id').size().mean()
print(f"   Avg orders per venue at peak (16:00): {peak_orders_per_venue:.1f}")

print("\nâš ï¸ DATA GAPS FOR STAFFING OPTIMIZATION:")
print("-" * 50)
print("   â€¢ No staff availability/preferences data")
print("   â€¢ No shift history or actual schedules")
print("   â€¢ No labor cost data (hourly rates)")
print("   â€¢ No service time metrics (orders/staff/hour)")
print("   â€¢ No skills/certifications per employee")

================================================================================
ðŸ‘¥ 2. OPTIMAL STAFFING CALCULATOR
================================================================================

âœ… AVAILABLE STAFF DATA:
--------------------------------------------------
   Total users in system: 22,955

   Staff by Role:
      â€¢ cashier: 1,771
      â€¢ pos_device: 437
      â€¢ manager: 63
      â€¢ editor: 22
      â€¢ agent: 10

   ðŸŽ¯ Schedulable Staff (cashier/manager/pos): 1,887

âœ… VENUE CAPACITY DATA:
--------------------------------------------------
   Total tables: 3,400
   Total seating capacity: 12,350 seats
   Avg capacity per table: 3.6 seats
   Unique venues with tables: 222

ðŸ“ DERIVED STAFFING METRICS:
--------------------------------------------------
   Avg daily orders (all venues): 400
   Avg orders per venue per day: 1.1
   Avg orders per venue at peak (16:00): 154.1

âš ï¸ DATA GAPS FOR STAFFING OPTIMIZATION:
--------------------------------------------------
   â€¢ No staff availability/preferences data
   â€¢ No shift history or actual schedules
   â€¢ No labor cost data (hourly rates)
   â€¢ No service time metrics (orders/staff/hour)
   â€¢ No skills/certifications per employee

In [9]:
# =============================================================================
# 3. CALL-OFF / RAPID ADJUSTMENT MODULE
# =============================================================================
print("\n" + "=" * 80)
print("ðŸš¨ 3. CALL-OFF & RAPID ADJUSTMENT MODULE")
print("=" * 80)

print("\nâœ… WHAT WE CAN BUILD WITH CURRENT DATA:")
print("-" * 50)
print("   â€¢ Staff contact directory (mobile_phone, email)")
print("   â€¢ Role-based replacement matching (cashierâ†’cashier)")
print("   â€¢ Area-based proximity matching (area_id)")

# Staff contact availability
staff_with_contact = users[
    (users['mobile_phone'].notna()) | (users['email'].notna())
]
print(f"\n   Staff with contact info: {len(staff_with_contact):,}")

# Role distribution for replacement pool
print(f"\n   Replacement Pool by Role:")
for role in ['cashier', 'manager', 'pos_device']:
    count = users['roles'].fillna('').str.contains(role, case=False).sum()
    print(f"      â€¢ {role}: {count:,} potential replacements")

print("\nâš ï¸ DATA GAPS FOR CALL-OFF MANAGEMENT:")
print("-" * 50)
print("   â€¢ No PTO/leave request history")
print("   â€¢ No call-off history patterns")
print("   â€¢ No employee reliability scores")
print("   â€¢ No real-time availability tracking")
print("   â€¢ No notification preferences")

# =============================================================================
# 4. CAMPAIGN/EVENT SURGE PLANNING
# =============================================================================
print("\n" + "=" * 80)
print("ðŸŽ¯ 4. CAMPAIGN/EVENT SURGE PLANNING")
print("=" * 80)

campaigns = datasets['fct_campaigns']
campaigns['start_dt'] = pd.to_datetime(campaigns['start_date_time'], unit='s', errors='coerce')
campaigns['end_dt'] = pd.to_datetime(campaigns['end_date_time'], unit='s', errors='coerce')

print("\nâœ… CAMPAIGN DATA FOR SURGE PREDICTION:")
print("-" * 50)
print(f"   Total campaigns: {len(campaigns):,}")
print(f"   Campaign types:")
for ctype, count in campaigns['type'].value_counts().items():
    print(f"      â€¢ {ctype}: {count}")

# Day-specific scheduling columns
day_cols = [c for c in campaigns.columns if any(day in c.lower() for day in 
            ['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday'])]
print(f"\n   Day-specific timing columns: {day_cols[:4]}...")

# Campaign impact on demand
print(f"\nðŸ“ˆ CAMPAIGN IMPACT ANALYSIS:")
campaigns_with_redemptions = campaigns[campaigns['used_redemptions'] > 0]
print(f"   Campaigns with redemptions: {len(campaigns_with_redemptions)}")
print(f"   Total redemptions: {campaigns['used_redemptions'].sum():.0f}")
print(f"   Avg redemptions per campaign: {campaigns_with_redemptions['used_redemptions'].mean():.1f}")

print("\nâš ï¸ DATA GAPS FOR EVENT PLANNING:")
print("-" * 50)
print("   â€¢ No external event calendar")
print("   â€¢ No social media monitoring")
print("   â€¢ No weather data integration")
print("   â€¢ No foot traffic correlation")

================================================================================
ðŸš¨ 3. CALL-OFF & RAPID ADJUSTMENT MODULE
================================================================================

âœ… WHAT WE CAN BUILD WITH CURRENT DATA:
--------------------------------------------------
   â€¢ Staff contact directory (mobile_phone, email)
   â€¢ Role-based replacement matching (cashierâ†’cashier)
   â€¢ Area-based proximity matching (area_id)

   Staff with contact info: 22,955

   Replacement Pool by Role:
      â€¢ cashier: 1,771 potential replacements
      â€¢ manager: 63 potential replacements
      â€¢ pos_device: 437 potential replacements

âš ï¸ DATA GAPS FOR CALL-OFF MANAGEMENT:
--------------------------------------------------
   â€¢ No PTO/leave request history
   â€¢ No call-off history patterns
   â€¢ No employee reliability scores
   â€¢ No real-time availability tracking
   â€¢ No notification preferences

================================================================================
ðŸŽ¯ 4. CAMPAIGN/EVENT SURGE PLANNING
================================================================================

âœ… CAMPAIGN DATA FOR SURGE PREDICTION:
--------------------------------------------------
   Total campaigns: 641
   Campaign types:
      â€¢ 2 for 1 on specific menu items: 339
      â€¢ All you can eat: 189
      â€¢ Discount on total bill: 86
      â€¢ Discount on specific menu items: 18
      â€¢ Freebie: 7
      â€¢ Goodie bag: 2

   Day-specific timing columns: ['monday_from', 'monday_to', 'tuesday_from', 'tuesday_to']...

ðŸ“ˆ CAMPAIGN IMPACT ANALYSIS:
   Campaigns with redemptions: 131
   Total redemptions: 2956
   Avg redemptions per campaign: 22.6

âš ï¸ DATA GAPS FOR EVENT PLANNING:
--------------------------------------------------
   â€¢ No external event calendar
   â€¢ No social media monitoring
   â€¢ No weather data integration
   â€¢ No foot traffic correlation

In [10]:
# =============================================================================
# 5. LABOR COST vs SERVICE QUALITY BALANCER
# =============================================================================
print("\n" + "=" * 80)
print("ðŸ’° 5. LABOR COST vs SERVICE QUALITY BALANCER")
print("=" * 80)

print("\nâœ… REVENUE/VALUE DATA AVAILABLE:")
print("-" * 50)
print(f"   Total revenue in dataset: {orders['total_amount'].sum():,.0f} DKK")
print(f"   Average order value: {orders['total_amount'].mean():.2f} DKK")
print(f"   Median order value: {orders['total_amount'].median():.2f} DKK")

# Revenue by hour (to prioritize staffing)
hourly_revenue = orders.groupby('hour')['total_amount'].sum()
print(f"\n   ðŸ’Ž Highest revenue hour: {hourly_revenue.idxmax()}:00 ({hourly_revenue.max():,.0f} DKK)")
print(f"   ðŸ’¸ Lowest revenue hour: {hourly_revenue.idxmin()}:00 ({hourly_revenue.min():,.0f} DKK)")

# Revenue by day
daily_revenue = orders.groupby('day_name')['total_amount'].sum().reindex(
    ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
)
print(f"\n   ðŸ“… Revenue by Day:")
for day, rev in daily_revenue.items():
    print(f"      â€¢ {day}: {rev:,.0f} DKK")

print("\nâš ï¸ DATA GAPS FOR COST OPTIMIZATION:")
print("-" * 50)
print("   â€¢ No labor cost data (hourly wages)")
print("   â€¢ No staff productivity metrics")
print("   â€¢ No service time measurements")
print("   â€¢ No customer satisfaction scores")
print("   â€¢ No wait time tracking")

# =============================================================================
# 6. VENUE-SPECIFIC DEMAND PATTERNS
# =============================================================================
print("\n" + "=" * 80)
print("ðŸª 6. VENUE-SPECIFIC DEMAND PATTERNS")
print("=" * 80)

# Top venues by order volume
top_venues = orders.groupby('place_id').agg({
    'id': 'count',
    'total_amount': 'sum'
}).rename(columns={'id': 'order_count'}).sort_values('order_count', ascending=False).head(10)

places = datasets['dim_places']
top_venues = top_venues.merge(places[['id', 'title']], left_index=True, right_on='id', how='left')

print("\nðŸ“Š TOP 10 VENUES BY ORDER VOLUME:")
print("-" * 50)
for _, row in top_venues.iterrows():
    print(f"   {row['title'][:30]:30} | {row['order_count']:,} orders | {row['total_amount']:,.0f} DKK")

# Venue type affects staffing needs
print(f"\nðŸ¢ VENUE TYPES (from taxonomy):")
venue_types = datasets['dim_taxonomy_terms'][datasets['dim_taxonomy_terms']['vocabulary'] == 'type']
for _, row in venue_types.iterrows():
    print(f"   â€¢ {row['name']}")

================================================================================
ðŸ’° 5. LABOR COST vs SERVICE QUALITY BALANCER
================================================================================

âœ… REVENUE/VALUE DATA AVAILABLE:
--------------------------------------------------
   Total revenue in dataset: 178,090,177 DKK
   Average order value: 445.44 DKK
   Median order value: 80.00 DKK

   ðŸ’Ž Highest revenue hour: 16:00 (102,322,272 DKK)
   ðŸ’¸ Lowest revenue hour: 4:00 (3,849 DKK)

   ðŸ“… Revenue by Day:
      â€¢ Monday: 5,327,433 DKK
      â€¢ Tuesday: 100,399,867 DKK
      â€¢ Wednesday: 7,540,115 DKK
      â€¢ Thursday: 36,059,678 DKK
      â€¢ Friday: 11,823,366 DKK
      â€¢ Saturday: 10,593,359 DKK
      â€¢ Sunday: 6,346,358 DKK

âš ï¸ DATA GAPS FOR COST OPTIMIZATION:
--------------------------------------------------
   â€¢ No labor cost data (hourly wages)
   â€¢ No staff productivity metrics
   â€¢ No service time measurements
   â€¢ No customer satisfaction scores
   â€¢ No wait time tracking

================================================================================
ðŸª 6. VENUE-SPECIFIC DEMAND PATTERNS
================================================================================

ðŸ“Š TOP 10 VENUES BY ORDER VOLUME:
--------------------------------------------------
   Kaffestuen Vesterbro           | 25,869 orders | 2,837,222 DKK
   Restaurant China               | 13,827 orders | 914,940 DKK
   TÃ¥rnet Kultorvet               | 11,371 orders | 1,075,950 DKK
   Grums Cph ApS [LOST / DUPLICAT | 9,667 orders | 649,820 DKK
   Tingvalla Svendborg ApS        | 7,472 orders | 726,739 DKK
   WokAmok NÃ¸rrebro               | 6,838 orders | 1,060,386 DKK
   Zula                           | 6,779 orders | 2,516,187 DKK
   LANDGREVEN ApS                 | 6,539 orders | 591,777 DKK
   Foodfanatics ApS               | 6,373 orders | 131,748 DKK
   Lind Cafeen Alpihallerne       | 6,373 orders | 342,372 DKK

ðŸ¢ VENUE TYPES (from taxonomy):
   â€¢ Bar
   â€¢ CafÃ©
   â€¢ Lounge
   â€¢ Restaurant
   â€¢ Pub
   â€¢ Unknown

In [11]:
# =============================================================================
# SOLUTION ARCHITECTURE SUMMARY
# =============================================================================
print("\n" + "=" * 80)
print("ðŸ—ï¸ SHIFT WIZARD: RECOMMENDED SOLUTION ARCHITECTURE")
print("=" * 80)

solution_components = """
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚                        ðŸ§™ SHIFT WIZARD ARCHITECTURE                          â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                                                                             â”‚
â”‚  â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”    â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”    â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”         â”‚
â”‚  â”‚ ðŸ“Š DEMAND       â”‚    â”‚ ðŸ‘¥ STAFFING     â”‚    â”‚ ðŸš¨ REAL-TIME    â”‚         â”‚
â”‚  â”‚ FORECASTER      â”‚â”€â”€â”€â–¶â”‚ OPTIMIZER       â”‚â”€â”€â”€â–¶â”‚ ADJUSTER        â”‚         â”‚
â”‚  â”‚                 â”‚    â”‚                 â”‚    â”‚                 â”‚         â”‚
â”‚  â”‚ â€¢ Historical    â”‚    â”‚ â€¢ Role matching â”‚    â”‚ â€¢ Call-off mgmt â”‚         â”‚
â”‚  â”‚   orders        â”‚    â”‚ â€¢ Capacity calc â”‚    â”‚ â€¢ SMS/Push      â”‚         â”‚
â”‚  â”‚ â€¢ Hour/Day/Week â”‚    â”‚ â€¢ Revenue-based â”‚    â”‚ â€¢ Replacement   â”‚         â”‚
â”‚  â”‚ â€¢ Venue-level   â”‚    â”‚   priority      â”‚    â”‚   finder        â”‚         â”‚
â”‚  â”‚ â€¢ Campaign awareâ”‚    â”‚                 â”‚    â”‚                 â”‚         â”‚
â”‚  â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜    â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜    â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜         â”‚
â”‚           â”‚                      â”‚                      â”‚                   â”‚
â”‚           â–¼                      â–¼                      â–¼                   â”‚
â”‚  â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”         â”‚
â”‚  â”‚                    ðŸ“± SHIFT WIZARD DASHBOARD                   â”‚         â”‚
â”‚  â”‚  â€¢ Weekly schedule view    â€¢ Coverage alerts                  â”‚         â”‚
â”‚  â”‚  â€¢ Demand heatmaps         â€¢ One-click adjustments            â”‚         â”‚
â”‚  â”‚  â€¢ Staff availability      â€¢ Cost vs Service metrics          â”‚         â”‚
â”‚  â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜         â”‚
â”‚                                                                             â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
"""
print(solution_components)

# Data availability summary
print("\n" + "=" * 80)
print("ðŸ“‹ DATA AVAILABILITY MATRIX")
print("=" * 80)

data_matrix = pd.DataFrame({
    'Feature': [
        'Demand Forecasting (Historical)',
        'Hour/Day Patterns',
        'Venue-Level Analysis',
        'Campaign Impact',
        'Staff Role Matching',
        'Contact Directory',
        'Venue Capacity',
        'Revenue Optimization',
        'Real-time Availability',
        'Labor Cost Analysis',
        'Employee Preferences',
        'External Events/Weather',
        'Service Time Metrics',
        'Call-off History'
    ],
    'Data Available': ['âœ…', 'âœ…', 'âœ…', 'âœ…', 'âœ…', 'âœ…', 'âœ…', 'âœ…', 'âŒ', 'âŒ', 'âŒ', 'âŒ', 'âŒ', 'âŒ'],
    'Source Table': [
        'fct_orders',
        'fct_orders (created)',
        'fct_orders + dim_places',
        'fct_campaigns',
        'dim_users (roles)',
        'dim_users (phone/email)',
        'dim_tables (capacity)',
        'fct_orders (total_amount)',
        'Need new data',
        'Need new data',
        'Need new data',
        'External APIs',
        'Need new data',
        'Need new data'
    ]
})

display(data_matrix)

# What can be built NOW vs LATER
print("\n" + "=" * 80)
print("ðŸŽ¯ IMPLEMENTATION ROADMAP")
print("=" * 80)
print("""
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ PHASE 1: BUILD NOW (Data Available)                                         â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ âœ… Demand forecasting model (orders by hour/day/venue)                       â”‚
â”‚ âœ… Optimal staff calculator based on historical order patterns               â”‚
â”‚ âœ… Campaign-aware scheduling (surge prediction)                              â”‚
â”‚ âœ… Staff directory with role-based replacement matching                      â”‚
â”‚ âœ… Revenue-weighted shift prioritization                                     â”‚
â”‚ âœ… Venue-specific demand profiles                                            â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ PHASE 2: COLLECT DATA FOR (Need New Data Sources)                           â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ ðŸ“ Staff availability preferences (new input system)                         â”‚
â”‚ ðŸ“ Shift schedule history (track actual vs planned)                          â”‚
â”‚ ðŸ“ Call-off tracking (patterns, reliability scores)                          â”‚
â”‚ ðŸ“ Labor cost data (hourly rates by role)                                    â”‚
â”‚ ðŸ“ Service time metrics (orders processed per staff per hour)                â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ PHASE 3: EXTERNAL INTEGRATIONS (APIs & Feeds)                               â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ ðŸŒ Weather API (OpenWeather, DMI) â†’ Impact on customer traffic               â”‚
â”‚ ðŸŒ Local events calendar â†’ Sports, concerts, holidays                        â”‚
â”‚ ðŸŒ Social media monitoring â†’ Viral item detection                            â”‚
â”‚ ðŸŒ SMS/Push notification service â†’ Rapid staff communication                 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
""")

================================================================================
ðŸ—ï¸ SHIFT WIZARD: RECOMMENDED SOLUTION ARCHITECTURE
================================================================================

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚                        ðŸ§™ SHIFT WIZARD ARCHITECTURE                          â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚                                                                             â”‚
â”‚  â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”    â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”    â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”         â”‚
â”‚  â”‚ ðŸ“Š DEMAND       â”‚    â”‚ ðŸ‘¥ STAFFING     â”‚    â”‚ ðŸš¨ REAL-TIME    â”‚         â”‚
â”‚  â”‚ FORECASTER      â”‚â”€â”€â”€â–¶â”‚ OPTIMIZER       â”‚â”€â”€â”€â–¶â”‚ ADJUSTER        â”‚         â”‚
â”‚  â”‚                 â”‚    â”‚                 â”‚    â”‚                 â”‚         â”‚
â”‚  â”‚ â€¢ Historical    â”‚    â”‚ â€¢ Role matching â”‚    â”‚ â€¢ Call-off mgmt â”‚         â”‚
â”‚  â”‚   orders        â”‚    â”‚ â€¢ Capacity calc â”‚    â”‚ â€¢ SMS/Push      â”‚         â”‚
â”‚  â”‚ â€¢ Hour/Day/Week â”‚    â”‚ â€¢ Revenue-based â”‚    â”‚ â€¢ Replacement   â”‚         â”‚
â”‚  â”‚ â€¢ Venue-level   â”‚    â”‚   priority      â”‚    â”‚   finder        â”‚         â”‚
â”‚  â”‚ â€¢ Campaign awareâ”‚    â”‚                 â”‚    â”‚                 â”‚         â”‚
â”‚  â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜    â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜    â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜         â”‚
â”‚           â”‚                      â”‚                      â”‚                   â”‚
â”‚           â–¼                      â–¼                      â–¼                   â”‚
â”‚  â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”         â”‚
â”‚  â”‚                    ðŸ“± SHIFT WIZARD DASHBOARD                   â”‚         â”‚
â”‚  â”‚  â€¢ Weekly schedule view    â€¢ Coverage alerts                  â”‚         â”‚
â”‚  â”‚  â€¢ Demand heatmaps         â€¢ One-click adjustments            â”‚         â”‚
â”‚  â”‚  â€¢ Staff availability      â€¢ Cost vs Service metrics          â”‚         â”‚
â”‚  â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜         â”‚
â”‚                                                                             â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜


================================================================================
ðŸ“‹ DATA AVAILABILITY MATRIX
================================================================================

                            Feature Data Available               Source Table
0   Demand Forecasting (Historical)              âœ…                 fct_orders
1                 Hour/Day Patterns              âœ…       fct_orders (created)
2              Venue-Level Analysis              âœ…    fct_orders + dim_places
3                   Campaign Impact              âœ…              fct_campaigns
4               Staff Role Matching              âœ…          dim_users (roles)
5                 Contact Directory              âœ…    dim_users (phone/email)
6                    Venue Capacity              âœ…      dim_tables (capacity)
7              Revenue Optimization              âœ…  fct_orders (total_amount)
8            Real-time Availability              âŒ              Need new data
9               Labor Cost Analysis              âŒ              Need new data
10             Employee Preferences              âŒ              Need new data
11          External Events/Weather              âŒ              External APIs
12             Service Time Metrics              âŒ              Need new data
13                 Call-off History              âŒ              Need new data

================================================================================
ðŸŽ¯ IMPLEMENTATION ROADMAP
================================================================================

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ PHASE 1: BUILD NOW (Data Available)                                         â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ âœ… Demand forecasting model (orders by hour/day/venue)                       â”‚
â”‚ âœ… Optimal staff calculator based on historical order patterns               â”‚
â”‚ âœ… Campaign-aware scheduling (surge prediction)                              â”‚
â”‚ âœ… Staff directory with role-based replacement matching                      â”‚
â”‚ âœ… Revenue-weighted shift prioritization                                     â”‚
â”‚ âœ… Venue-specific demand profiles                                            â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ PHASE 2: COLLECT DATA FOR (Need New Data Sources)                           â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ ðŸ“ Staff availability preferences (new input system)                         â”‚
â”‚ ðŸ“ Shift schedule history (track actual vs planned)                          â”‚
â”‚ ðŸ“ Call-off tracking (patterns, reliability scores)                          â”‚
â”‚ ðŸ“ Labor cost data (hourly rates by role)                                    â”‚
â”‚ ðŸ“ Service time metrics (orders processed per staff per hour)                â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚ PHASE 3: EXTERNAL INTEGRATIONS (APIs & Feeds)                               â”‚
â”œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¤
â”‚ ðŸŒ Weather API (OpenWeather, DMI) â†’ Impact on customer traffic               â”‚
â”‚ ðŸŒ Local events calendar â†’ Sports, concerts, holidays                        â”‚
â”‚ ðŸŒ Social media monitoring â†’ Viral item detection                            â”‚
â”‚ ðŸŒ SMS/Push notification service â†’ Rapid staff communication                 â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜

## ðŸ§™ Shift Wizard Solution Summary

### What the Data Tells Us

| Insight | Value | Staffing Impact |
|---------|-------|-----------------|
| **Peak Hour** | 16:00 (4 PM) | Max staffing at dinner rush |
| **Busiest Day** | Friday (79K orders) | Double staff on Fridays |
| **Slowest Day** | Sunday (42K orders) | Reduce weekend shifts |
| **Order Mix** | 87% Takeaway, 13% Dine-in | Focus on kitchen/counter staff |
| **Top Venue** | Kaffestuen (25K orders) | Needs dedicated scheduler |
| **Staff Pool** | 1,887 operational staff | Sufficient for rotation |

### Solution Architecture (Based on Available Data)

```
â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”     â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”     â”Œâ”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”
â”‚  DEMAND ENGINE   â”‚â”€â”€â”€â”€â–¶â”‚ STAFF OPTIMIZER  â”‚â”€â”€â”€â”€â–¶â”‚ ALERT SYSTEM     â”‚
â”‚                  â”‚     â”‚                  â”‚     â”‚                  â”‚
â”‚ â€¢ fct_orders     â”‚     â”‚ â€¢ dim_users      â”‚     â”‚ â€¢ Contact info   â”‚
â”‚ â€¢ Hour patterns  â”‚     â”‚ â€¢ roles column   â”‚     â”‚ â€¢ Role matching  â”‚
â”‚ â€¢ Day patterns   â”‚     â”‚ â€¢ dim_tables     â”‚     â”‚ â€¢ SMS/Email      â”‚
â”‚ â€¢ Campaigns      â”‚     â”‚ â€¢ Capacity       â”‚     â”‚                  â”‚
â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜     â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜     â””â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”˜
```

### âœ… What We CAN Build Now
1. **Demand Forecasting Model** - Using 400K historical orders
2. **Hour/Day Heatmaps** - Peak detection at venue level
3. **Campaign Surge Planning** - 641 campaigns with day-specific timing
4. **Staff Role Matching** - 1,771 cashiers, 63 managers available
5. **Revenue-Weighted Scheduling** - Prioritize high-value time slots

### âŒ Data Gaps (Need to Collect)
1. **Staff Preferences** - Availability, preferred shifts
2. **Labor Costs** - Hourly rates, overtime rules
3. **Call-off History** - No tracking of absences
4. **Service Metrics** - Orders per staff per hour
5. **External Factors** - Weather, events, social media

### Recommended MVP Features
1. ðŸ“Š **Demand Dashboard** - Hourly/daily order predictions per venue
2. ðŸ‘¥ **Smart Scheduler** - Auto-suggest staff based on predicted demand
3. ðŸš¨ **Gap Alerts** - Notify when coverage drops below threshold
4. ðŸ“± **Quick Replace** - One-tap replacement finder with contact info